<main class="album-view container narrow">
    <section class="clearfix">
        <div class="column half">
            <img src="{{ album.albumData.albumArtUrl }}" class="album-cover-art">
        </div>
        <div class="album-view-details column half">
            <h2 class="album-view-title">{{album.albumData.title}}</h2>
            <h3 class="album-view-artist">{{album.albumData.artist}}</h3>
            <h5 class="album-view-release-info">{{album.albumData.year}} {{album.albumData.label}}</h5>
        </div>
    </section>
    <table class="album-view-song-list">
        <tr class="album-view-song-item" ng-repeat="song in album.albumData.songs" ng-mouseover="hovered = true" ng-mouseleave="hovered = false">
            <td class="song-item-number">
                <span ng-show="!song.playing && !hovered">{{$index + 1}}</span>
                <a class="album-song-button" ng-show="!song.playing && hovered" ng-click="album.songPlayer.play(song)"><span class="ion-play"></span></a>
                <a class="album-song-button" ng-show="song.playing" ng-click="album.songPlayer.pause(song)"><span class="ion-pause"></span></a>
            </td>
            <td class="song-item-title">{{song.title}}</td>
            <td class="song-item-duration">{{song.duration | timecode }}</td>
        </tr>
    </table>
</main>
<ng-include src="'/templates/player_bar.html'"></ng-include>

<!--

Due to time constraints on this course and project I have elected at this time to substitute a 'cleanup' of the 'timecode' within this 'view' using the 'timecode' filter over the 'Optional' exercise of refactoring the method listed for the purposes of submission on this assignment:

1.) Read the AngularJS Developer Guide on filters.
2.) Take a look at some of Angular's included filters to get a sense for 
        the contexts in which a filter is appropriate.
3.) Optional: The Buzz library has a method named toTimer() that formats 
        seconds in an easy to read timer like "00:00", which is what we've just accomplished with the timecode filter. Read the documentation for the toTimer() method and rework the timecode filter logic to use the Buzz method instead of your custom code.

Since this is the last exercise in this project and the items listed in the assignment are limited to 'Readings' & 'Optional' coding I am going to complete this change and submit this 'checkpoint' as completed.

-->